<!--this is the base page that can be used a template for all the pages-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Flask</title>
</head>
<body>
    <nav>
        <ul>
            <!--link the flask - call the appropriate function with url_for-->
            <!--curtly brackets contain an expression-->
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('career') }}">Career</a></li>
        </ul>
    </nav>

    <!--defining a block where we can inject content into -->
    <!--curly+percentage control the flow of the template -->
    {% block content %}
    {% endblock %}

</body>
</html>